<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wasfah">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wasfah">
        <activity android:name=".SearchRecipe" android:configChanges="layoutDirection|locale" />
        <activity android:name=".ProfileView" android:configChanges="layoutDirection|locale"/>
        <activity
            android:name=".editprofile"
            android:exported="true"
            android:configChanges="layoutDirection|locale"/>
        <activity android:name=".SignupActivity" />
        <activity android:name=".recepe" android:configChanges="layoutDirection|locale"/>
        <activity android:name=".MainActivity" android:configChanges="layoutDirection|locale"/>
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".EditRecipeActivity"/>
        <activity android:name=".PublishRecipeActivity" android:configChanges="layoutDirection|locale" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true"
        />
</manifest>